.cart-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.cart-popup {
  background: white;
  padding: 20px;
  width: 90%;
  max-width: 350px;
  border-radius: 10px;
  text-align: center;
  animation: popupScale 0.3s ease-in-out;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.4);
}

.cart-popup-item {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  align-items: center;
}

.cart-popup-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
}

.cart-popup-buttons button {
  display: inline-block;
    margin: 0;
  padding: 6px 12px;
  border: none;
  background: rgb(190, 189, 194);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

@keyframes popupScale {
  0% { transform: scale(0.7); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
